# Ignore project and user files
.Rproj.user
.Rhistory
.RData
.Ruserdata
/_extensions

# Ignore raw and test data 
/data/raw
/data/temp

# Ignore test and temp scripts 
/scripts/explore*
explore_sbar*
*.html

# Ignore binary package installs and deployment files
rsconnect/
terra_1.8-93.tgz
*.dcf
